Package: me.devbug.unfolderx
Name: UnFolderX
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Unfolder for iOS 5
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: Tweaks
Homepage: https://github.com/devbug/UnFolderX
